*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    min-height: 100vh;
    background-color: tomato;
}

.conteiner{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff7c;
    border-radius: 5px;
    border: solid white 1px;
}

h1, h2{
    text-align: center;
}

input, button{
    margin: 5px;
    padding: 8px;
    width: calc(100% - 22px);
}

button{
    cursor: pointer
}

#catalogo{
    margin-bottom: 20px;

}

.book{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#addbook-form, #search-form{
    margin-bottom: 10px;
}